* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* background-color: #282828; */
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  padding-top: 60px;
  padding-left: 30px;
}

h2 {
  font-size: 24px;
  padding-top: 60px;
  padding-left: 30px;
}

p {
  font-size: 16px;
}

header {
  background-color: #80c8a0;
}

header, footer {
  padding: 34px 0 33px 60px;
}

header p, footer p {
  color: #492e2d;
}

main {
  background-color: #faf2d6;
  box-sizing: border-box;
  padding: 30px;
}

.content {
  background-color: #c9ccc8;
  width: calc(70% - 40px);
  height: 360px;
}

.article {
  background-color: #ec5a45;
  width: 30%;
  margin-left: 30px;
}

.content, .article {
  display: inline-block;
  vertical-align: top;
}

.content p, .article p {
  padding: 30px;
}

footer {
  background-color: #80c8a0;
}